{% extends "base.html.twig" %}

{% block body %}

    <div class="container">

        <article>
            <h1>Version 2.1</h1>

            <ul class="browser-default">
                <li>Installation de FOS User Bundle</li>
            </ul>
        </article>

        <article>
            <h1>Version 2.0</h1>

            <p>Installation du premier prototype.</p>
            <ul class="browser-default">
                <li>Simplification du modèle de données</li>
                <li>Import partiel des données</li>
                <li>Reconnaissance des œuvres</li>
                <li>Premier prototype <i>Hybrid</i></li>
            </ul>

        </article>
    </div>
{% endblock %}