{% extends "base.html.twig" %}

{% block body %}

    <section class="container">

        <h1>Ajout d'une bibliothèque</h1>

        <p>L'ajout a bien été effectué.</p>
    </section>

{% endblock %}