{% extends "base.html.twig" %}

{% block body %}

    <section class="container">
    <h1>Page Admin</h1>

        <p>Voir les stats concernant l'import</p>

        <p>Nombre de livres = </p>

        <p>Nombre de prêts = </p>

        <p>Nombre de date de publication</p>

    </section>
{% endblock %}
