{% extends "base.html.twig" %}

{% block body %}

    <section class="container">
    <h1>Page Admin</h1>

        <p><a href="{{ path('add_book') }}">Ajouter un livre</a></p>

        <p><a href="{{ path('add_thesaurus') }}">Ajouter un item du thésaurus</a></p>

        <p><a href="/register">Créer un nouveau compte utilisateur</a></p>

        <p>Voir les stats concernant l'import</p>

        <p>Nombre de livres = </p>

        <p>Nombre de prêts = </p>

        <p>Nombre de date de publication</p>

    </section>
{% endblock %}
