{% extends "base.html.twig" %}

{% block body %}
    <section class="container">

        <h1>Contribuer au projet</h1>

        <div class="card">

            <h2>Partage de données</h2>

            <p>Les bibliothèques volontaires peuvent partager leurs données. Les données partagées ne seront pas publiées tant que la bibliothèque concernée le souhaitera. Dans un premier temps, des tests seront menés et la bibliothèque disposera d'un accès restreint pour voir les résultats.</p>

            <p>Les données peuvent être transmises par un simple dump. Les données utilisateurs doivent être anonymisées.Vous pouvez nous contacter sur l'adresse gaetan(pt)darquie(at)gmail(pt)com</p>

        </div>


        <div class="card">

            <h2>Le modèle de données</h2>

            <p></p>

        </div>
        <p></p>

    </section>
{% endblock %}