{% extends 'base.html.twig' %}

{% block body %}

    <section class="container">
        <h1>1 année spécifique : une année pour les titres contenant le mot écran</h1>

        <p>Filtre titre écran + 1 année</p>

        <article>

            <h3>Liste des livres/h3>

            <h3>Les livres les plus empruntés publiés durant cette année contenant le mot écran</h3>

            <h3>Les auteurs les plus présents cette année (par emprunts ou/et par nombre de livres)</h3>
        </article>

    </section>
{% endblock %}