{% extends 'base.html.twig' %}

{% block body %}

    <section class="container">
        <h1>1 ccode : nom du ccode pour les titres contenant le mot écran</h1>

        <p>Filtre titre écran + 1 ccode</p>

        <article>
            <h3>Evolultion dans le temps du ccode</h3>

            <h3>Liste des livres avec un Ccode</h3>

            <h3>Les livres les plus empruntés dans le Ccode</h3>

            <h3>Les auteurs les plus présents dans le Ccode (par emprunts ou/et par nombre de livres)</h3>
        </article>

    </section>
{% endblock %}