{% extends "base.html.twig" %}

{% block body %}

    <section class="container">

        <h1>Import des books</h1>

        <p>Nombre de livres à importer : {{ count }}</p>

    </section>

{% endblock %}