
<div class="row">

    <div class="col offset-s2 s8">
        <div class="cartouche mini-form ">
            {{form_row(thesaurusForm.title, {
                'label' : "Titre"
            })}}
            {{form_row(thesaurusForm.type)}}
        </div>
    </div>

</div>
