{% extends "base.html.twig" %}

{% block body %}

    <section class="container">

        <h1 class="center">Ajouter un item</h1>

        {{ form_start(thesaurusForm)}}
        {{ include('AdminBundle:Thesaurus:_form.html.twig')}}
        <button class="btn black right" type="submit" formnovalidate >Créer</button>
        {{ form_end(thesaurusForm)}}

    </section>

{% endblock %}